:root {
  --color-primary: #ce1212;
  --color-secondary: #37373f;
  --color-gray: #7f7f90;
  --color-light-gray: #eeeeee;
  --color-white: #ffffff;
}
.navbar-brand img {
  width: 150px;
}

.navbar-brand span {
  color: var(--color-primary);
}
.navbar-nav .nav-link.active {
  border-bottom: 1px solid var(--color-primary);
  transition: border-bottom 0.2s ease;
}
.navbar-expand-lg .navbar-nav .nav-item {
  padding-inline: 20px;
  display: inline-block;
  position: relative;
  color: var(--color-primary);
  text-decoration: none;
  font-weight: 700;
}
.navbar-expand-lg .navbar-nav .nav-item::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  border-radius: 5px;
  height: 0.05em;
  bottom: 0;
  left: 0;
  background: currentcolor;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.navbar-expand-lg .navbar-nav .nav-item:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.book-btn {
  border-radius: 50px;
  background-color: var(--color-primary);
  color: var(--color-white);
}
.book-btn:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
  box-shadow: 0 0 10px var(--color-primary);
  transition: box-shadow 0.2s linear;
}
.banner {
  background-color: var(--color-light-gray);
}
.client-container,
.footer-container,
.service-container,
.about-container,
.menu-container,
.chef-container,
.banner-container {
  width: 90%;
  margin-inline-start: 5%;
  padding-block: 5%;
}
.banner-img {
  text-align: center;
}
.banner-img img {
  width: 300px;
  margin-block: 10%;
  animation: roll 5s;
}
@keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.banner-text {
  margin-block: 5%;
}
.banner-text h1 {
  font-family: "Courgette", cursive;
}
@media (max-width: 576px) {
  .banner-text {
    text-align: center;
  }
}
.banner-text h1,
.banner-text p {
  margin-bottom: 30px;
}
.banner-text .book-btn {
  padding-inline: 23px;
  padding-block: 10px;
}
.banner-text .watch {
  text-decoration: none;
  color: black;
}
.banner-text i {
  position: relative;
  margin-left: 30px;
  font-size: 30px;
  color: var(--color-primary);
  top: 5px;
}
.banner-text span {
  font-size: 18px;
  font-weight: 600;
}
.client-container h2,
.client-container span,
.book h2,
.book span,
.gallery-container h2,
.gallery-container span,
.chef-container h2,
.chef-container span,
.menu-container h2,
.menu-container span,
.about-container h2,
.about-container span {
  font-family: "Courgette", cursive;
  text-align: center;
  margin-bottom: 30px;
}
.client-container span,
.book span,
.gallery-container span,
.chef-container span,
.about-container span,
.menu-container span {
  color: var(--color-primary);
}
.about-container img {
  width: 100%;
}
.about-container i {
  color: var(--color-primary);
  margin-inline: 10px;
}
.about-section2-img {
  position: relative;
}
.about-section2-img .play-btn {
  position: absolute;
  top: 120px;
  left: 210px;
  background-color: var(--color-primary);
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
.about-section2-img i {
  position: absolute;
  top: 111px;
  left: 207px;
  color: var(--color-white);
  font-size: 50px;
  pointer-events: none;
}
.modal-dialog {
  max-width: 800px;
}
.modal-dialog .modal-content {
  height: 500px;
}
.modal-dialog .close {
  position: absolute;
  right: -14px;
  top: -13px;
  z-index: 999;
  font-size: 25px;
  background-color: var(--color-light-gray);
  opacity: 1;
  border: 0;
  border-radius: 50px;
}
.modal-dialog iframe {
  width: 100%;
  height: 450px;
}
.service {
  background-color: var(--color-light-gray);
}
.service-container .card {
  border: none;
}
.service-container .first-card {
  background-color: var(--color-primary);
}
.service-container .first-card .card-title {
  font-weight: 700;
  color: var(--color-white);
  margin-block: 20px;
}
.service-container .first-card .card-text {
  color: var(--color-white);
  margin-block: 20px;
}

.first-card .learn-btn {
  border-radius: 50px;
  background-color: #ffffff57;
  color: var(--color-white);
  margin-bottom: 0px;
}
.first-card .learn-btn:hover {
  background-color: var(--color-white);
  color: var(--color-primary);
}
.second-card {
  text-align: center;
  padding-block: 30px;
}
.second-card i {
  color: var(--color-primary);
  background-color: #ff00001a;
  border-radius: 50px;
  font-size: 25px;
  width: 40px;
  height: 40px;
  margin: 0 auto;
}
.second-card {
  margin-top: 40px;
}
.second-card:hover {
  transform: scale(1.09);
  transition: transform 0.2s ease;
}
.second-card:hover i {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}
.second-card .card-text {
  color: var(--color-gray);
  margin-block: 20px;
}
.statistics {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../img/statistics.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 300px;
  margin-bottom: 30px;
}
.statistics-container {
  padding-top: 125px;
}
.statistics-container h3 {
  color: var(--color-white);
  font-weight: 700;
}
.statistics-container p {
  color: #eeeeeebd;
  font-weight: 700;
}
/****/

.menu-container .filterDiv {
  text-align: center;
  display: none;
  margin: 10px auto;
}
.menu-container .filterDiv img {
  width: 75%;
}
.menu-container .show {
  display: block;
}
.menu-container .menu-btn {
  font-size: 18px;
  border: none;
  border-bottom: 1px solid var(--color-gray);
  border-radius: 0px;
  font-weight: 600;
  padding: 12px 16px;
  cursor: pointer;
  margin-inline: 10px;
}
.menu-container .menu-btn:hover,
.menu-container .menu-btn.active {
  color: var(--color-primary);
  border-bottom: 1px solid var(--color-primary);
}
.menu-container h3 {
  color: #000;
}
.menu-container p {
  color: var(--color-gray);
}
.menu-container h3 {
  color: #000;
}
.menu-container .price {
  color: var(--color-primary);
  font-size: 25px;
  font-weight: 700;
}
.chef-container .card-title {
  font-weight: 700;
  font-family: "Courgette", cursive;
}
.chef-container .card-title + p {
  color: var(--color-gray);
}
.chef-container .card:hover {
  transform: scale(1.09);
  transition: transform 0.2s linear;
}
.chef-container .card-chef {
  position: relative;
}
.chef-container .social {
  position: absolute;
  width: 50px;
  top: 51px;
  right: 10px;
  display: none;
}
.chef-container .social i {
  color: var(--color-white);
  font-size: 24px;
  margin: 5px;
}
.chef-container .card:hover .social {
  display: block;
  animation: social 0.2s linear;
}
@keyframes social {
  0% {
    right: -20px;
    top: 51px;
  }
  100% {
    right: 10px;
    top: 51px;
  }
}
.social .bi-facebook:hover {
  color: #3b5998;
}
.social .bi-instagram:hover {
  color: #ac2bac;
}
.social .bi-twitter:hover {
  color: #55acee;
}
.social .bi-tiktok:hover {
  color: #000;
}
.chef-container .path {
  width: 100%;
  position: absolute;
  bottom: -5px;
  right: 0;
}
.gallery-container {
  padding-block: 5%;
}
.gallery-container .item {
  height: 400px;
  position: relative;
}
.gallery-container .item img {
  height: 100%;
}
.gallery_overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #5e545491;
  color: var(--color-white);
}
.gallery_overlay .overlay__text {
  margin: 40px;
  margin-top: 40%;
}
.gallery_overlay .overlay__text h3 {
  margin-bottom: 20px;
  font-weight: 700;
}
.gallery_overlay .overlay__text h5 {
  border-bottom: 2px solid var(--color-primary);
  margin-bottom: 20px;
  font-weight: 700;
  padding-bottom: 10px;
  width: 50px;
}

.owl-theme .owl-dots .owl-dot.active span {
  background: var(--color-primary);
  transform: scale(1.5);
}
.footer {
  background-color: var(--color-secondary);
  color: var(--color-white);
}
.footer-container {
  padding-bottom: 10px;
}
.footer-container i:hover {
  color: var(--color-primary);
}
.footer-container span {
  font-size: 18px;
  font-weight: 700;
}
.footer-container p {
  margin-top: 15px;
  color: var(--color-light-gray);
}
.footer-container p + p {
  margin-top: -15px;
}
.footer-container .social i {
  color: var(--color-light-gray);
  font-size: 24px;
  margin: 18px;
  margin-left: 0px;
  position: relative;
  top: 10px;
}
.footer-container .copy {
  background-color: var(--red);
  text-align: center;
}
.footer-container .copy p {
  color: var(--color-light-gray);
  padding-block: 10px;
  margin-bottom: 0;
}
.footer-container .copy span {
  color: var(--color-primary);
}
.footer-container .line-footer {
  background-color: var(--color-gray);
  height: 1px;
  margin-block: 10px;
}
.btn-fixed {
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 10000;
}
.btn-fixed button {
  background: var(--red);
  border: none;
  box-shadow: 0 0 10px var(--color-primary);
  border-radius: 50px;
  padding: 5px;
  padding-inline: 10px;
  animation-name: shadow-animation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes shadow-animation {
  50% {
    box-shadow: 0 0 8px 8px var(--color-primary);
  }
}
.btn-fixed a {
  text-decoration: none;
  color: var(--white);
}
.btn-fixed i {
  font-size: 22px;
  color: var(--color-primary);
}
.hidden {
  display: none;
}
.book h2 {
  margin-bottom: 0px;
}
.book .modal-dialog .modal-body img {
  width: 100%;
}
.book .book-btn {
  margin-inline-start: 40%;
  margin-top: 20px;
}
.client-container .clients-img {
  width: 30%;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-right: 52px;
}
.client-container .clients-img img {
  width: 150px;
  height: 150px;
  border-radius: 150px;
  border: 4px solid var(--color-primary);
}
.client-container {
  padding-top: 10px;
}
.client-container h2 {
  margin-bottom: 40px;
}
.client-container i {
  color: var(--color-primary);
}
.client-container p {
  color: var(--color-gray);
  display: inline;
}
@media (max-width: 576px) {
  .client-container {
    text-align: center;
  }
  .client-container .clients-img {
    margin: 0 auto;
  }
}
